<mat-form-field
  class="w-full min-w-0"
  style="margin-bottom: -1.25em"
  appearance="outline"
>
  <input
    matInput
    placeholder="Search"
    [(ngModel)]="selectedResult"
    [matAutocomplete]="auto"
    [formControl]="searchCtrl"
  />

  <button
    *ngIf="selectedResult"
    matSuffix
    mat-icon-button
    (click)="clearSelection()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <button *ngIf="!selectedResult" mat-icon-button matSuffix type="button">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngIf="hasNoResults" [disabled]="true" class="is-loading">
    No results
  </mat-option>

  <mat-option *ngFor="let courses of filteredResult">
    <span>{{ courses.courseName }}</span>
  </mat-option>
</mat-autocomplete>
