<mat-toolbar *ngIf="userCanAdd() | async">
  <div class="flex space-x-5">
    <button mat-stroked-button [routerLink]="'/addCourse'">
      <mat-icon>add</mat-icon>
      <span class="ml-1">Add Course</span>
    </button>
    <button mat-stroked-button [routerLink]="'/addLesson'">
      <mat-icon>add</mat-icon>
      <span class="ml-1">Add Lesson</span>
    </button>
  </div>
</mat-toolbar>

<div class="mt-4">
  <h1>Courses</h1>
</div>

<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let course of coursesToDisplay" class="slide">
    <mat-card class="m-4" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
      <mat-card-content class="cursor-pointer">
        <img class="w-[150px] h-[150px] mx-auto"
            [attr.src]=
            "course.imageUrl ? course.imageUrl : '/assets/no-image-icon.png'"
            [attr.alt]="course.courseName"/>
        <div class="w-full pt-2 text-xl">
          {{ course.courseName }}
        </div>

        <ng-container *ngIf="course.lessonDTOList.length > 0; else noLessons">
          <div class="mt-5">
            {{ course.lessonDTOList.length }} Lessons
          </div>
        </ng-container>
        <ng-template #noLessons>
          <div class="mt-5">
            0 Lessons
          </div>
        </ng-template>

        <div class="absolute -mt-10 right-4">
          <button mat-raised-button>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ngx-slick-carousel>

<div class="absolute -mt-44 left-0" *ngIf="showLeftButton">
  <button mat-fab (click)="prev()">
    <mat-icon>navigate_before</mat-icon>
  </button>
</div>

<div class="absolute -mt-44 right-0" *ngIf="showRightButton">
  <button mat-fab (click)="next()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
