:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 500px;

  mat-card-title {
    text-align: center;
  }

  mat-card-content {
    display: flex;
    justify-content: center;

    form {
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
