<mat-card>
  <mat-card-title>Change password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input
          matInput
          formControlName="oldPassword"
          placeholder="Old Password"
          [type]="shouldHideOldPassword ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="shouldHideOldPassword = !shouldHideOldPassword">
            <mat-icon>{{
              shouldHideOldPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="newPassword"
          placeholder="New Password"
          [type]="shouldHideNewPassword ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="shouldHideNewPassword = !shouldHideNewPassword">
            <mat-icon>{{
              shouldHideNewPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </button>

        <!-- <mat-error *ngIf="form.controls['newPassword'].invalid">
          {{
            form.controls['oldPassword'].errors

          }}
        </mat-error> -->
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="confirmNewPassword"
          placeholder="Confirm New Password"
          [type]="shouldHideConfirmPassword ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="shouldHideConfirmPassword = !shouldHideConfirmPassword">
            <mat-icon>{{
              shouldHideConfirmPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </button>
      </mat-form-field>

      <button
          class="mt-1"
          [disabled]="!this.form.touched || !this.form.valid"
          type="submit"
          mat-flat-button
          color="primary">
          Save
      </button>
    </form>
  </mat-card-content>
</mat-card>
