// theme colors
$theme-dark-green: #00a86c;
$theme-light-green: #ebfdee;
$theme-fade-green: #edfaed;
$theme-light-blue: #2A92FF;
$theme-accent-grey: #607d8b;
$theme-primary-text: #191919;
$theme-secondary-text: #13203b;
$theme-divider-color: #bdbdbd;
$theme-primary-yellow: #ffff00;
$theme-warn: #FF8A80;
$theme-body-bg: #212121;
